﻿<footer class="page-footer">
    <div class="container">
        <!--     <div class="row page-footer__menu-list">
            <div class="col-xs-6 col-md-2">
                <h3 class="page-footer__list-title">Меню 1</h3>

                <ul class="page-footer__list">
                    <li class="page-footer__item"><a href="#">Пункт 1</a></li>
                    <li class="page-footer__item"><a href="#">Пункт 2</a></li>
                    <li class="page-footer__item"><a href="#">Пункт 3</a></li>
                    <li class="page-footer__item"><a href="#">Пункт 4</a></li>
                    <li class="page-footer__item"><a href="#">Пункт 5</a></li>
                    <li class="page-footer__item"><a href="#">Пункт 6</a></li>
                </ul>
            </div>

            <div class="col-xs-6 col-md-2">
                <h3 class="page-footer__list-title">Меню 2</h3>

                <ul class="page-footer__list">
                    <li class="page-footer__item"><a href="#">Пункт 1</a></li>
                    <li class="page-footer__item"><a href="#">Пункт 2</a></li>
                    <li class="page-footer__item"><a href="#">Пункт 3</a></li>
                </ul>
            </div>

            <div class="col-xs-6 col-md-2">
                <h3 class="page-footer__list-title">Меню 3</h3>

                <ul class="page-footer__list">
                    <li class="page-footer__item"><a href="#">Пункт 1</a></li>
                    <li class="page-footer__item"><a href="#">Пункт 2</a></li>
                    <li class="page-footer__item"><a href="#">Пункт 3</a></li>
                    <li class="page-footer__item"><a href="#">Пункт 4</a></li>
                    <li class="page-footer__item"><a href="#">Пункт 5</a></li>
                </ul>
            </div>

            <div class="col-xs-6 col-md-2">
                <h3 class="page-footer__list-title">Меню 4</h3>

                <ul class="page-footer__list">
                    <li class="page-footer__item"><a href="#">Пункт 1</a></li>
                    <li class="page-footer__item"><a href="#">Пункт 2</a></li>
                    <li class="page-footer__item"><a href="#">Пункт 3</a></li>
                    <li class="page-footer__item"><a href="#">Пункт 4</a></li>
                    <li class="page-footer__item"><a href="#">Пункт 5</a></li>
                </ul>
            </div>

            <div class="col-xs-12 col-md-3 col-md-offset-1 page-footer__logo">

            </div>
        </div> -->
        <div class="page-footer__wrapper">
            <p class="page-footer__copyright">
                2018, <a class="page-footer__logo-link" href="#">
                    ©
                    <svg class="page-footer__logo-svg">
                        <use xlink:href="~/Content/images/icon_sprite.svg#icon_logo"></use>
                    </svg>
                </a>
            </p>
        </div>
    </div>
</footer>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/mansory")
@Scripts.Render("~/bundles/main")


