﻿@model DAL.RequestModel.QuerySearchModel
<header class="page-header">
    <div class="container">
        <div class="page-header__wrapper">
            <a class="page-header__logo">
                <svg class="page-header__logo-svg">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="~/Content/images/icon_sprite.svg#icon_logo"></use>
                </svg>
            </a>

            <div class="dropdown page-header__search">
                <input class="dropdown-toggle" type="text" id="dropdownMenu-search" 
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" placeholder="Пишите #хэштег" value="@Model.Q">

                <ul class="dropdown-menu" aria-labelledby="dropdownMenu-search">
                    <li class="dropdown-header">Заголовок блока 1</li>
                    <li><a href="#">Результат 1</a></li>
                    <li><a href="#">Результат 2</a></li>
                    <li><a href="#">Результат 3</a></li>
                    <li role="separator" class="divider"></li>
                    <li class="dropdown-header">Заголовок блока 2</li>
                    <li><a href="#">Автор 1</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>

