﻿@model DAL.RequestModel.QuerySearchModel
@{
    ViewBag.Title = "Index";
    Layout = null;
}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="MobileOptimized" content="320">
    <meta name="HandheldFriendly" content="true">

    <meta name="description" content="">

    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
@Html.Partial("Header", Model)
<main class="page">
    <div class="container">
        <div id="posts-containers" class="posts">
            <div id="loader" class="loader"></div>
        </div>
    </div>
</main>
@Html.Partial("Footer")
@Html.Partial("YoutubeModal")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/search")
</body>
</html>

