﻿@model DAL.ResponseModel.SearchModelResponse

<article class="thumbnail posts__item post post--yt" data-toggle="modal" data-target="#modal-yt" tabindex="0">
    <header class="post__header">
        <div class="post__title-wrapper">
            <h2 class="post__title">Candyrat Records</h2>
            <span class="post__sub-title">579 тыс. подписчиков</span>
        </div>
        <div class="post__title-logo">
            <img src="@Model.UrlThumbnail" alt="@Model.Title">
        </div>
    </header>

    <p class="post__media">
        <iframe src="@($"https://www.youtube.com/embed/{Model.YoutubeVideoId}")" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </p>

    <p class="post__text">@Model.Title</p>

    <div class="post__actions">
        <ul class="post__social-list">
            <li class="post__social-item">
                <span class="post__link-views post__link-views--yt">175&nbsp;190</span>
            </li>
            <li class="post__social-item">
                <a class="post__link-like post__link-like--yt" href="#">1&nbsp;698</a>
            </li>
            <li>
                <a class="post__link-dislike post__link-dislike--yt" href="#">13</a>
            </li>
        </ul>

        <ul class="post__actions-list">
            <li class="post__actions-item">
                <a class="post__link-share" href="#" title="Поделиться">
                    <span class="visually-hidden">Поделиться</span>
                    <svg class="post__link-share-svg">
                        <use xlink:href="~/Content/images/icon_sprite.svg#icon_share"></use>
                    </svg>
                </a>
            </li>
            <li class="post__actions-item">
                <a class="post__link-save" href="#" title="Сохранить в&nbsp;своём аккаунте">
                    <span class="visually-hidden">Сохранить в&nbsp;своём аккаунте</span>
                    <svg class="post__link-save-svg">
                        <use xlink:href="~/Content/images/icon_sprite.svg#icon_plus"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>

    <a class="post__flag" href="https://www.youtube.com/watch?time_continue=1&v=170GfcR1i_A" title="Посмотреть в&nbsp;соц. сети в&nbsp;отдельной кладке" target="_blank">
        <svg class="post__flag-svg">
            <use xlink:href="~/Content/images/icon_sprite.svg#icon_post-yt"></use>
        </svg>
        <span class="visually-hidden">Посмотреть в&nbsp;соц. сети в&nbsp;отдельной кладке</span>
    </a>
</article>
