﻿@{
    ViewBag.Title = "Panda.Wiki";
}

<main class="index-page">
    <div class="index-page__user-wrapper">
        <p class="index-page__login">
            <a class="index-page__login-link" href="#" data-toggle="modal" data-target="#modal-login">Войти</a>
        </p>
    </div>

    <div class="container index-page__wrapper">
        <h1 class="visually-hidden">Panda.wiki</h1>
        <p class="index-page__logo">
            <svg class="index-page__logo-svg">
                <use xlink:href="~/Content/images/icon_sprite.svg#icon_logo"></use>
            </svg>
        </p>

        <form class="index-page__form-search" action="/Home/RedirectToResultPage" method="POST">
            <ul class="index-page__type type-list">
                <li class="type-list__item">
                    <input class="visually-hidden type-list__filter" type="radio" name="index-page__type-filter" id="type-list__filter-text" checked>
                    <label class="type-list__filter-label type-list__filter-label--text" for="type-list__filter-text" title="Искать посты">
                        <span class="visually-hidden">Искать посты</span>
                        <svg class="type-list__filter-label-svg">
                            <use xlink:href="~/Content/images/icon_sprite.svg#icon_type-post"></use>
                        </svg>
                    </label>
                </li>
                <li class="type-list__item">
                    <input class="visually-hidden type-list__filter" type="radio" name="index-page__type-filter" id="type-list__filter-image">
                    <label class="type-list__filter-label type-list__filter-label--image" for="type-list__filter-image" title="Искать картинки">
                        <span class="visually-hidden">Искать картинки</span>
                        <svg class="type-list__filter-label-svg">
                            <use xlink:href="~/Content/images/icon_sprite.svg#icon_type-image"></use>
                        </svg>
                    </label>
                </li>
                <li class="type-list__item">
                    <input class="visually-hidden type-list__filter" type="radio" name="index-page__type-filter" id="type-list__filter-video">
                    <label class="type-list__filter-label type-list__filter-label--video" for="type-list__filter-video" title="Искать видео">
                        <span class="visually-hidden">Искать видео</span>
                        <svg class="type-list__filter-label-svg">
                            <use xlink:href="~/Content/images/icon_sprite.svg#icon_post-yt"></use>
                        </svg>
                    </label>
                </li>
                <li class="type-list__item">
                    <input class="visually-hidden type-list__filter" type="radio" name="index-page__type-filter" id="type-list__filter-profile">
                    <label class="type-list__filter-label type-list__filter-label--profile" for="type-list__filter-profile" title="Искать пользователей и каналы">
                        <span class="visually-hidden">Искать пользователей и каналы</span>
                        <svg class="type-list__filter-label-svg">
                            <use xlink:href="~/Content/images/icon_sprite.svg#icon_type-user"></use>
                        </svg>
                    </label>
                </li>
                <li class="type-list__item">
                    <input class="visually-hidden type-list__filter" type="radio" name="index-page__type-filter" id="type-list__filter-attached">
                    <label class="type-list__filter-label type-list__filter-label--attached" for="type-list__filter-attached" title="Искать музыку">
                        <span class="visually-hidden">Искать музыку</span>
                        <svg class="type-list__filter-label-svg">
                            <use xlink:href="~/Content/images/icon_sprite.svg#icon_type-attachment"></use>
                        </svg>
                    </label>
                </li>
            </ul>

            <p class="index-page__text">The social search</p>

            <div class="index-page__search-wrapper">

                <p class="index-page__search">
                    <input id="searchString" class="index-page__search-input" type="text" name="q" onkeypress="handlerOnEnter(event)" placeholder="Что мы ищем сегодня?">
                </p>
                <p class="index-page__search-btn">
                    <button id="SubmitButton" class="index-page__search-submit" type="submit">
                        <span class="visually-hidden">Поиск</span>
                        <svg class="index-page__search-svg">
                            <use xlink:href="~/Content/images/icon_sprite.svg#icon_search"></use>
                        </svg>
                    </button>
                </p>

            </div>

            <ul class="index-page__social-list social-list">
                <li class="social-list__item">
                    <input class="visually-hidden social-list__input" type="checkbox" name="index-page__social-vk" id="index-page__social-vk" value="1">
                    <label class="social-list__link social-list__link--vk social-list__link--input" for="index-page__social-vk" title="Искать в Вконтакте">
                        <span class="visually-hidden">Вконтакте</span>
                        <svg class="social-list__svg">
                            <use xlink:href="~/Content/images/icon_sprite.svg#icon_post-vk"></use>
                        </svg>
                    </label>
                </li>
                <li class="social-list__item">
                    <input class="visually-hidden social-list__input" type="checkbox" name="index-page__social-youtube" id="index-page__social-youtube" value="0">
                    <label class="social-list__link social-list__link--youtube social-list__link--input" for="index-page__social-youtube" title="Искать в YouTube">
                        <span class="visually-hidden">YouTube</span>
                        <svg class="social-list__svg">
                            <use xlink:href="~/Content/images/icon_sprite.svg#icon_post-yt"></use>
                        </svg>
                    </label>
                </li>
                <li class="social-list__item">
                    <input class="visually-hidden social-list__input" type="checkbox" name="index-page__social-fb" id="index-page__social-fb" value="Facebook">
                    <label class="social-list__link social-list__link--fb social-list__link--input" for="index-page__social-fb" title="Искать в Facebook">
                        <span class="visually-hidden">Facebook</span>
                        <svg class="social-list__svg">
                            <use xlink:href="~/Content/images/icon_sprite.svg#icon_post-fb"></use>
                        </svg>
                    </label>
                </li>
                <li class="social-list__item">
                    <input class="visually-hidden social-list__input" type="checkbox" name="index-page__social-wiki" id="index-page__social-wiki" value="Vikipedia">
                    <label class="social-list__link social-list__link--wiki social-list__link--input" for="index-page__social-wiki" title="Искать в Википедии">
                        <span class="visually-hidden">Википедия</span>
                        <svg class="social-list__svg">
                            <use xlink:href="~/Content/images/icon_sprite.svg#icon_post-wiki"></use>
                        </svg>
                    </label>
                </li>
                <li class="social-list__item">
                    <input class="visually-hidden social-list__input" type="checkbox" name="index-page__social-tw" id="index-page__social-tw" value="Twitter">
                    <label class="social-list__link social-list__link--tw social-list__link--input" for="index-page__social-tw" title="Искать в Twitter">
                        <span class="visually-hidden">Twitter</span>
                        <svg class="social-list__svg">
                            <use xlink:href="~/Content/images/icon_sprite.svg#icon_post-tw"></use>
                        </svg>
                    </label>
                </li>
                <li class="social-list__item">
                    <input class="visually-hidden social-list__input" type="checkbox" name="index-page__social-instagram" id="index-page__social-instagram" value="Instagram">
                    <label class="social-list__link social-list__link--instagram social-list__link--input" for="index-page__social-instagram" title="Искать в Instagram">
                        <span class="visually-hidden">Инстаграм</span>
                        <svg class="social-list__svg">
                            <radialGradient id="rg" r="150%" cx="-10%" cy="100%">
                                <stop stop-color="#fdf497" offset="0" />
                                <stop stop-color="#fdf497" offset="0.05" />
                                <stop stop-color="#fd5949" offset="0.45" />
                                <stop stop-color="#d6249f" offset="0.6" />
                            </radialGradient>
                            <use xlink:href="~/Content/images/icon_sprite.svg#icon_post-ig"></use>
                        </svg>
                    </label>
                </li>
                <li class="social-list__item">
                    <input class="visually-hidden social-list__input" type="checkbox" name="index-page__social-pinterest" id="index-page__social-pinterest" value="Pinterest">
                    <label class="social-list__link social-list__link--pinterest social-list__link--input" for="index-page__social-pinterest" title="Искать в Pinterest">
                        <span class="visually-hidden">Pinterest</span>
                        <svg class="social-list__svg">
                            <use xlink:href="~/Content/images/icon_sprite.svg#icon_post-pinterest"></use>
                        </svg>
                    </label>
                </li>
            </ul>
        </form>
    </div>
</main>
<script>
    $('#SubmitButton').click(function () {
        debugger;
        var checkboxes = document.getElementsByClassName('visually-hidden social-list__input');
        var result = []; // можно в массиве их хранить, если нужно использовать
        for (var index = 0; index < checkboxes.length; index++) {
            if (checkboxes[index].checked) {
                result.push(checkboxes[index].value);
            }
        }
        var search = $('#searchString').val();
        jQuery.ajaxSettings.traditional = true
        $.ajax({
            type: "POST",
            url: "/Home/SearchVideo",
            data: { search, result },
            success: function (msg) {
                $("#change").html(msg);
            }
        });

    });
</script>