﻿.no-outline {
    outline: 0
}

body {
    font-size: 14px;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,Roboto,"Segoe UI","Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #f3f4f8
}

img {
    max-width: 100%
}

.btn {
    border-radius: 2px
}

.btn--vk {
    border-color: #6281a7
}

    .btn--vk .btn__svg {
        fill: #6281a7
    }

    .btn--vk:focus, .btn--vk:hover {
        color: rgba(98,129,167,.8)
    }

        .btn--vk:focus .btn__svg, .btn--vk:hover .btn__svg {
            fill: rgba(98,129,167,.8)
        }

    .btn--vk:focus {
        outline: 0
    }

    .btn--vk:active {
        color: rgba(98,129,167,.4)
    }

        .btn--vk:active .btn__svg {
            fill: rgba(98,129,167,.4)
        }

.btn--tw {
    border-color: #61acee
}

    .btn--tw .btn__svg {
        fill: #61acee
    }

    .btn--tw:focus, .btn--tw:hover {
        color: rgba(97,172,238,.8)
    }

        .btn--tw:focus .btn__svg, .btn--tw:hover .btn__svg {
            fill: rgba(97,172,238,.8)
        }

    .btn--tw:focus {
        outline: 0
    }

    .btn--tw:active {
        color: rgba(97,172,238,.4)
    }

        .btn--tw:active .btn__svg {
            fill: rgba(97,172,238,.4)
        }

.btn--fb {
    border-color: #4b62a2
}

    .btn--fb .btn__svg {
        fill: #4b62a2
    }

    .btn--fb:focus, .btn--fb:hover {
        color: rgba(75,98,162,.8)
    }

        .btn--fb:focus .btn__svg, .btn--fb:hover .btn__svg {
            fill: rgba(75,98,162,.8)
        }

    .btn--fb:focus {
        outline: 0
    }

    .btn--fb:active {
        color: rgba(75,98,162,.4)
    }

        .btn--fb:active .btn__svg {
            fill: rgba(75,98,162,.4)
        }

.btn__svg {
    margin-right: 10px
}

.btn-arrow {
    content: "\edbb";
    position: absolute;
    top: calc(100% + 15px);
    width: 75px;
    height: 75px;
    padding: 0;
    background: url(./images/icon-arrow.svg) center no-repeat;
    background-size: 50px;
    border: 0;
    opacity: .7
}

    .btn-arrow:focus, .btn-arrow:hover {
        opacity: .9
    }

    .btn-arrow:focus {
        outline: 0
    }

    .btn-arrow:active {
        opacity: .5
    }

.btn-arrow--next {
    right: 0
}

.btn-arrow--prev {
    left: 0;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
}

.btn-order {
    display: inline-block;
    width: 24px;
    height: 25px;
    padding: 6px 3px;
    background: url(./images/reverse_order.png) 3px 6px no-repeat;
    background-clip: content-box
}

    .btn-order:focus {
        outline: 0
    }

.btn-order--reverse {
    background-position: -13px left
}

.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
    color: #fff;
    background: #6281a7
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden
}

@media (min-width:768px) {
    .modal-dialog.modal--custom {
        width: 660px
    }

    .btn-arrow {
        position: fixed;
        top: calc(50% - (75px/2))
    }

    .btn-arrow--next {
        right: 15px
    }

    .btn-arrow--prev {
        left: 15px
    }
}

@media (min-width:992px) {
    html {
        height: 100%
    }

    body {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        min-height: 100%
    }

    main {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1
    }
}

@media (min-width:1200px) {
    .container {
        width: 1030px
    }
}

@media (min-width:1400px) {
    .container {
        width: 1170px
    }
}

.comment {
    position: relative
}

.comment__author {
    margin-left: 55px
}

.comment__author-link {
    font-weight: 500
}

    .comment__author-link:focus {
        outline: 0
    }

    .comment__author-link:active {
        opacity: .6
    }

.comment__text {
    margin-left: 55px;
    overflow-wrap: break-word;
    word-break: break-word;
    word-wrap: break-word
}

.comment__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 55px
}

.comment__author-photo {
    position: absolute;
    top: 15px;
    left: 0;
    overflow: hidden
}

    .comment__author-photo img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: center;
        object-position: center
    }

    .comment__author-photo:focus {
        outline: 0;
        opacity: .7
    }

    .comment__author-photo:active {
        opacity: .4
    }

.comment__time {
    margin-right: 15px;
    color: #939393
}

    .comment__time:focus, .comment__time:hover {
        color: #939393
    }

    .comment__time:focus {
        outline: 0
    }

    .comment__time:active {
        opacity: .7
    }

.comment__reply {
    margin-right: 15px
}

    .comment__reply:focus {
        outline: 0
    }

    .comment__reply:active {
        opacity: .7
    }

.comment__like {
    margin-left: auto;
    font-size: 13px
}

    .comment__like::before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        width: 18px;
        height: 15px;
        background: url(./images/icon-heart.svg) left top no-repeat;
        background-size: 12px;
        opacity: .6
    }

    .comment__like:focus, .comment__like:hover {
        text-decoration: none
    }

        .comment__like:focus::before, .comment__like:hover::before {
            opacity: 1
        }

    .comment__like:focus {
        outline: 0
    }

    .comment__like:active {
        opacity: .4
    }

.comments-add-yt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start
}

.comments-add-yt__photo-wrapper {
    margin-right: 15px
}

.comments-add-yt__photo {
    display: block;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center
}

.comments-add-yt__wrapper {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1
}

.comments-add-yt__textarea {
    display: block;
    width: 100%;
    padding: 5px 0;
    resize: none;
    border: 0;
    border-bottom: 1px solid #dfe0ee
}

    .comments-add-yt__textarea:focus {
        outline: 0;
        border-bottom-color: #333;
        -webkit-box-shadow: inset 0 -1px 0 0 #333;
        box-shadow: inset 0 -1px 0 0 #333
    }

.comments-add-yt__btn-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin-top: 5px
}

.comments-add-yt__btn {
    padding: 7px 12px 8px;
    font-weight: 500;
    text-transform: uppercase;
    border: 0
}

    .comments-add-yt__btn:focus, .comments-add-yt__btn:hover {
        text-decoration: none
    }

    .comments-add-yt__btn:focus {
        outline: 0
    }

    .comments-add-yt__btn:active {
        padding-top: 8px;
        padding-bottom: 7px
    }

.comments-add-yt__btn--cancel {
    margin-right: 5px;
    color: #808899;
    background-color: #fff
}

    .comments-add-yt__btn--cancel:focus, .comments-add-yt__btn--cancel:hover {
        color: #333
    }

    .comments-add-yt__btn--cancel:active {
        background-color: #f3f3f3
    }

.comments-add-yt__btn--enter {
    color: #fff;
    background-color: #3c93e6
}

    .comments-add-yt__btn--enter:focus, .comments-add-yt__btn--enter:hover {
        color: #f3f3f3
    }

    .comments-add-yt__btn--enter:active {
        background-color: #1b7ad4
    }

.comments-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: 15px
}

.comments-header__text {
    margin-bottom: 0
}

.comments-list-yt__item-author-link {
    position: relative;
    color: #333
}

    .comments-list-yt__item-author-link:focus, .comments-list-yt__item-author-link:hover {
        color: #808899;
        text-decoration: none
    }

    .comments-list-yt__item-author-link:focus {
        outline: 0
    }

    .comments-list-yt__item-author-link:active {
        opacity: .5
    }

.comments-list-yt__item-author-photo {
    position: absolute;
    top: 0;
    left: 0;
    width: 48px;
    height: 48px;
    border-radius: 50%
}

.comments-list-yt__item-author {
    display: inline-block;
    max-width: 600px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 63px;
    vertical-align: top;
    font-weight: 500;
    font-size: 13px
}

.comments-list-yt__item-data {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: top;
    font-size: 13px;
    color: #808899
}

.comments-list-yt__item-text {
    margin-right: 15px;
    margin-bottom: 5px;
    margin-left: 63px;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    word-break: break-word;
    word-wrap: break-word
}

.comments-list-yt__item-user-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 63px
}

    .comments-list-yt__item-user-menu .modal-youtube__rating-btn {
        margin-right: 0
    }

    .comments-list-yt__item-user-menu .modal-youtube__rating-btn-link {
        padding: 4px 5px
    }

    .comments-list-yt__item-user-menu .modal-youtube__rating-btn-link--like {
        margin-right: 0
    }

.comments-list-yt__item-btn-answer {
    margin-right: 12px;
    margin-left: -12px;
    padding: 4px 12px 5px;
    font-weight: 500;
    color: #808899;
    text-transform: uppercase;
    background-color: #fff;
    border: 0
}

    .comments-list-yt__item-btn-answer:focus, .comments-list-yt__item-btn-answer:hover {
        color: #333;
        text-decoration: none
    }

    .comments-list-yt__item-btn-answer:focus {
        outline: 0
    }

    .comments-list-yt__item-btn-answer:active {
        padding-top: 5px;
        padding-bottom: 4px;
        background-color: #f3f3f3
    }

.comments-list-yt__item-likes {
    margin-right: 22px
}

.comments-list-yt__item-answer {
    margin-left: 63px
}

.index-footer {
    padding: 15px 0;
    background-color: #fff
}

.index-footer__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none
}

.index-footer__item {
    margin: 0 15px
}

.index-footer__item--dropdown {
    position: relative
}

.index-footer__link {
    display: block;
    padding: 5px;
    font: 16px/1 "Courier New",Monospace;
    color: #333;
    opacity: .7
}

.index-footer__link--lang {
    background: 0 0;
    border: 0
}

.index-footer__link:focus, .index-footer__link:hover {
    color: #333;
    text-decoration: none;
    opacity: 1
}

.index-footer__link:focus {
    outline: 0
}

.index-footer__link:active {
    opacity: .5
}

.index-page, .index-page__wrapper {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.index-page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff
}

.index-page__wrapper {
    height: 100%
}

.index-page__form-search, .index-page__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.index-page__user-wrapper {
    position: absolute;
    top: 15px;
    right: 15px;
    text-align: right
}

.index-page__login {
    margin-bottom: 10px
}

.index-page__login-link {
    padding: 5px;
    font: 16px/1 "Courier New",Monospace;
    color: #333;
    opacity: .7
}

    .index-page__login-link:focus, .index-page__login-link:hover {
        color: #333;
        text-decoration: none;
        opacity: 1
    }

    .index-page__login-link:focus {
        outline: 0
    }

    .index-page__login-link:active {
        opacity: .5
    }

.index-page__profile {
    margin-bottom: 0
}

.index-page__profile-link {
    display: block
}

    .index-page__profile-link:focus .index-page__profile-svg, .index-page__profile-link:hover .index-page__profile-svg {
        fill: #000
    }

    .index-page__profile-link:focus {
        outline: 0
    }

    .index-page__profile-link:active {
        opacity: .5
    }

.index-page__profile-svg {
    fill: #333;
    display: block;
    width: 30px;
    height: 30px
}

.index-page__logo {
    margin-bottom: 30px
}

.index-page__logo-svg {
    fill: #333;
    width: 400px;
    height: 47px
}

.index-page__search-wrapper {
    position: relative;
    margin-bottom: 30px
}

.index-page__search {
    margin-bottom: 0
}

.index-page__search-btn {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 40px;
    margin-bottom: 0
}

.index-page__search-input {
    width: 580px;
    padding: 8px 10px;
    font-size: 16px;
    border: 1px solid #fff;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.2),0 0 0 1px rgba(0,0,0,.1);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.2),0 0 0 1px rgba(0,0,0,.1);
    -webkit-transition: -webkit-box-shadow .3s ease-in-out;
    transition: box-shadow .3s ease-in-out;
    transition: box-shadow .3s ease-in-out,-webkit-box-shadow .3s ease-in-out
}

    .index-page__search-input:hover {
        -webkit-box-shadow: 0 3px 8px 0 rgba(0,0,0,.2),0 0 0 1px rgba(0,0,0,.1);
        box-shadow: 0 3px 8px 0 rgba(0,0,0,.2),0 0 0 1px rgba(0,0,0,.1)
    }

    .index-page__search-input:focus {
        -webkit-box-shadow: 0 3px 8px 0 rgba(55,151,242,.4),0 0 0 1px rgba(55,151,242,.8);
        box-shadow: 0 3px 8px 0 rgba(55,151,242,.4),0 0 0 1px rgba(55,151,242,.8);
        outline: 0
    }

.index-page__search-submit {
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color: transparent;
    border: 0
}

    .index-page__search-submit:focus .index-page__search-svg, .index-page__search-submit:hover .index-page__search-svg {
        fill: #3797f2
    }

    .index-page__search-submit:focus {
        outline: 0
    }

    .index-page__search-submit:active {
        opacity: .5
    }

.index-page__search-svg {
    fill: #808899;
    width: 20px;
    height: 20px
}

.index-page__text {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    margin-bottom: 15px;
    font: 700 26px/1 "Courier New",Monospace;
    color: #555;
    text-transform: capitalize
}

.index-page__social-list {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    max-width: 427px
}

@media (min-width:768px) {
    .index-page {
        padding-top: 30px
    }
}

.language-list {
    position: absolute;
    left: -10px;
    bottom: calc(100% + 15px);
    margin-bottom: 0;
    padding: 10px;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.2),0 0 0 1px rgba(0,0,0,.1);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.2),0 0 0 1px rgba(0,0,0,.1)
}

.language-list--js {
    display: none
}

.language-list__item, .modal--yt .modal-body__media iframe {
    display: block
}

.language-list__link {
    display: block;
    padding: 7.5px;
    font: 16px/1 "Courier New",Monospace;
    color: #333
}

    .language-list__link[href] {
        color: #3797f2
    }

        .language-list__link[href]:focus, .language-list__link[href]:hover {
            color: #4b62a2
        }

    .language-list__link:focus, .language-list__link:hover, .modal-youtube__description-extra-content a:focus, .modal-youtube__description-extra-content a:hover {
        text-decoration: none
    }

    .language-list__link:focus {
        outline: 0
    }

    .language-list__link:active[href] {
        opacity: .5
    }

.modal button.close {
    position: absolute;
    top: calc(100% + 20px);
    right: 50%;
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
    font-size: 50px;
    color: #fff
}

.modal--vk .modal-body__flag-svg {
    fill: #6281a7
}

.modal--tw .modal-body__flag-svg {
    fill: #61acee
}

.modal--fb .modal-body__bottom, .modal--fb .modal-body__media {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0
}

.modal--fb .modal-body__flag-svg {
    fill: #4b62a2
}

.modal--yt .modal-body__media {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
    padding: 0
}

.modal--yt .modal-body__bottom {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
    border-bottom: 1px solid #dfe0ee
}

.modal--yt .modal-body__text {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1
}

.modal--yt .modal-body__flag-svg {
    fill: #ff141c
}

.modal--yt .modal-body__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 0;
    border-bottom: 1px solid #dfe0ee
}

.modal--yt .modal-body__rating {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    border-bottom: 2px solid #61acee
}

.modal--yt .modal-body__rating-link {
    padding: 0 5px 10px 20px
}

.modal--yt .post__actions-list {
    margin-left: 10px
}

.modal--ig .modal-body__bottom, .modal--ig .modal-body__media {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0
}

.modal--ig .modal-body__flag-svg {
    fill: #000
}

.modal--gp .modal-body__flag-svg {
    fill: #dc4e42
}

.modal--youtube .modal-body__flag-svg {
    fill: #ff141c
}

.modal.in .modal-dialog {
    -webkit-transform: none;
    transform: none
}

.modal__header {
    padding: 10px 66px 10px 10px;
    border-bottom: 1px solid #dfe0ee
}

.modal__flag {
    position: absolute;
    top: 10px;
    right: 15px;
    width: 36px;
    height: 36px;
    padding: 3px
}

    .modal__flag:focus, .modal__flag:hover {
        opacity: .7
    }

    .modal__flag:focus {
        outline: 0
    }

    .modal__flag:active {
        opacity: .5
    }

.modal__flag-svg {
    width: 100%;
    height: 100%
}

.modal-youtube__channel {
    position: relative;
    padding: 15px
}

.modal-youtube__channel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px
}

.modal-youtube__channel-publish {
    margin-bottom: 20px;
    font-size: 14px;
    color: #888
}

.modal-youtube__channel-text {
    font-size: 14px
}

.modal-youtube__channel-subscribe {
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 5px 10px;
    text-transform: uppercase;
    color: #fff;
    background-color: #fe0100
}

    .modal-youtube__channel-subscribe:hover {
        text-decoration: none;
        color: #fff
    }

.modal-content {
    border-radius: 3px
}

.modal-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    padding: 0
}

.modal-body--side .modal-body__media {
    max-height: none;
    padding: 0;
    background-color: #151922
}

.modal-body__title-wrapper {
    position: relative;
    padding: 10px 66px 10px 65px;
    border-bottom: 1px solid #dfe0ee
}

.modal-body__title {
    display: block;
    font-weight: 700;
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.modal-body__sub-title {
    display: block;
    font-size: 12px;
    color: #939393
}

    .modal-body__sub-title a {
        color: inherit
    }

.modal-body__title-logo {
    position: absolute;
    top: 8px;
    left: 15px;
    width: 40px;
    height: 40px
}

.modal-body__title-logo, .modal-body__title-logo--gp, .modal-body__title-logo--ig {
    overflow: hidden;
    border-radius: 50%
}

    .modal-body__title-logo img {
        height: 100%
    }

.modal-body__title-yt {
    position: relative;
    padding: 15px
}

    .modal-body__title-yt .modal-body__views {
        position: absolute;
        top: 100%;
        margin-bottom: 0;
        color: #afb4bb
    }

.modal-body__title-yt-heading {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px
}

.modal-body__media {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    height: auto;
    padding: 15px
}

    .modal-body__media img, .modal-body__title-logo img {
        width: 100%;
        -o-object-fit: contain;
        object-fit: contain;
        -o-object-position: center;
        object-position: center
    }

    .modal-body__media iframe, .modal-body__media video {
        width: 100%;
        height: 338px;
        background-color: #151922;
        border: 0
    }

.modal-body__text {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding: 15px;
    overflow-y: auto;
    overflow-wrap: break-word;
    word-break: break-word;
    word-wrap: break-word
}

.modal-body__text--ig ul {
    list-style: none;
    margin-bottom: 0;
    padding-left: 0
}

    .modal-body__text--ig ul li > a:first-child {
        margin-right: 6px;
        font-weight: 600;
        color: #262626
    }

        .modal-body__text--ig ul li > a:first-child:focus, .modal-body__text--ig ul li > a:first-child:hover {
            opacity: .8
        }

        .modal-body__text--ig ul li > a:first-child:focus {
            outline: 0
        }

        .modal-body__text--ig ul li > a:first-child:active {
            opacity: .5
        }

.modal-body__bottom {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 15px;
    border-top: 1px solid #dfe0ee
}

.modal-body__flag {
    position: absolute;
    top: 10px;
    right: 15px;
    width: 36px;
    height: 36px;
    padding: 3px
}

    .modal-body__flag:focus, .modal-body__flag:hover {
        opacity: .7
    }

    .modal-body__flag:focus {
        outline: 0
    }

    .modal-body__flag:active {
        opacity: .5
    }

.modal-body__flag-svg {
    width: 100%;
    height: 100%
}

.modal-body__comments {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
    padding: 15px 15px 0;
    border-top: 1px solid #dfe0ee
}

.modal-body__comments-item {
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 1px solid #dfe0ee
}

.modal-body__reply, .modal-body__reply-control {
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4;
    border-top: 1px solid #dfe0ee
}

.modal-body__reply-control {
    -webkit-box-ordinal-group: 7;
    -ms-flex-order: 6;
    order: 6;
    padding: 15px
}

@media (min-width:768px) {
    .modal button.close {
        top: 0;
        right: -50px
    }
}

@media (min-width:992px) {
    .modal {
        text-align: center
    }

    .modal--yt .modal-media iframe, .modal--yt .modal-media video {
        height: 500px
    }

    .modal::before {
        content: "";
        display: inline-block;
        height: 100%;
        vertical-align: middle
    }

    .modal button.close {
        top: 0;
        opacity: .4
    }

        .modal button.close:focus, .modal button.close:hover {
            opacity: .6
        }

        .modal button.close:focus {
            outline: 0
        }

        .modal button.close:active {
            opacity: .2
        }

    .modal-dialog {
        display: inline-block;
        margin-left: -4px;
        vertical-align: middle;
        text-align: left
    }

    .modal-body {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        position: relative;
        padding: 0
    }

    .modal-body__bottom, .modal-body__media, .modal-body__text {
        padding: 15px
    }
}

.modal-header__title {
    display: inline-block;
    margin-left: 50px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.24
}

.modal-header__title-link {
    position: relative;
    display: inline-block;
    color: #4b62a2
}

    .modal-header__title-link:focus, .modal-header__title-link:hover {
        text-decoration: none;
        color: #61acee
    }

    .modal-header__title-link:focus {
        outline: 0
    }

    .modal-header__title-link:active {
        opacity: .5
    }

.modal-header__title-checked {
    display: inline-block;
    vertical-align: middle
}

    .modal-header__title-checked:hover .modal-header__title-checked-svg {
        fill: #61acee
    }

.modal-header__title-checked-svg {
    fill: #808899;
    width: 12px;
    height: 12px
}

.modal-header__channel-logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%
}

.modal-header__published {
    margin-bottom: 0;
    margin-left: 50px;
    font-size: 12px;
    color: #808899
}

.modal-login::before {
    vertical-align: top
}

.modal-login__body {
    padding: 15px
}

.modal-login__tabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 30px;
    border: 0
}

    .modal-login__tabs .modal-login__tabs-link {
        margin-right: 0;
        padding: 8px 10px;
        line-height: 1;
        color: #333;
        border: 1px solid #dfe0ee;
        border-radius: 0
    }

        .modal-login__tabs .modal-login__tabs-link:focus, .modal-login__tabs .modal-login__tabs-link:hover {
            background-color: #fff;
            border-color: #3797f2
        }

        .modal-login__tabs .modal-login__tabs-link:focus {
            outline: 0
        }

    .modal-login__tabs .modal-login__tabs-item.active .modal-login__tabs-link {
        color: #fff;
        background-color: #3797f2;
        border-color: #3797f2
    }

.modal-login__tabs-item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    margin-bottom: 0;
    text-align: center
}

.modal-login__input {
    width: 100%;
    margin-bottom: 15px;
    padding: 5px;
    border: 1px solid #f3f3f3;
    border-color: #dfe0ee
}

    .modal-login__input:focus {
        outline: 0;
        border-color: #3797f2
    }

.modal-login__rules-checkbox:checked + .modal-login__rules-label::before {
    background-color: #43b848;
    border-color: #43b848
}

.modal-login__rules-checkbox:checked + .modal-login__rules-label::after {
    -webkit-transform: translateX(0);
    transform: translateX(0)
}

.modal-login__rules-label {
    position: relative;
    width: 100%;
    padding-right: 65px;
    font-weight: 400;
    font-size: 18px;
    cursor: pointer
}

    .modal-login__rules-label::after, .modal-login__rules-label::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        display: inline-block;
        width: 50px;
        height: 25px;
        background-color: #f3f3f3;
        border: 1px solid #dfe0ee;
        border-radius: 25px
    }

    .modal-login__rules-label::after {
        top: 1px;
        right: 1px;
        -webkit-transform: translateX(-25px);
        transform: translateX(-25px);
        width: 23px;
        height: 23px;
        background-color: #fff;
        border: 1px solid #43b848;
        border-radius: 50%;
        -webkit-transition: -webkit-transform .3s;
        transition: transform .3s;
        transition: transform .3s,-webkit-transform .3s
    }

.modal-login__submit {
    width: 100%;
    margin-top: 5px;
    padding: 10px 0;
    font-size: 20px;
    line-height: 1;
    text-align: center;
    color: #61acee;
    background-color: transparent;
    border: 0
}

    .modal-login__submit:focus, .modal-login__submit:hover {
        color: #4b62a2
    }

    .modal-login__submit:focus {
        outline: 0
    }

    .modal-login__submit:active {
        opacity: .5
    }

.modal-login__social-text-wrapper {
    position: relative;
    margin-top: 15px;
    text-align: center
}

    .modal-login__social-text-wrapper::before {
        content: '';
        position: absolute;
        top: 50%;
        right: 0;
        left: 0;
        border-bottom: 1px solid #a0a0a0
    }

.modal-login__social-text {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0 15px;
    font-weight: 400;
    font-size: 13px;
    text-align: center;
    color: #a0a0a0;
    background-color: #fff
}

.modal-login__social-list .social-list__item {
    margin: 15px 17px 0 0
}

    .modal-login__social-list .social-list__item:nth-child(5n) {
        margin-right: 0
    }

.modal-youtube__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.modal-youtube__title {
    margin-top: 0;
    margin-bottom: 5px;
    padding: 15px 15px 0;
    font-size: 18px
}

.modal-youtube__media {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
    margin-bottom: 0
}

    .modal-youtube__media iframe {
        display: block;
        width: 100%;
        height: 354px
    }

.modal-youtube__views {
    margin-bottom: 0;
    padding: 0 15px;
    font-size: 16px;
    color: #808899
}

.modal-youtube__rating-btn, .modal-youtube__user-menu-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.modal-youtube__user-menu-wrapper {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin-top: -25px;
    padding-right: 15px;
    padding-left: 15px
}

.modal-youtube__rating-btn {
    margin-right: 15px;
    margin-bottom: 0
}

.modal-youtube__rating-btn-link {
    padding: 10px 5px;
    line-height: 1px;
    color: #808899
}

    .modal-youtube__rating-btn-link:focus, .modal-youtube__rating-btn-link:hover {
        color: #808899;
        text-decoration: none
    }

        .modal-youtube__rating-btn-link:focus .modal-youtube__rating-btn-svg, .modal-youtube__rating-btn-link:hover .modal-youtube__rating-btn-svg {
            fill: #414141
        }

    .modal-youtube__rating-btn-link:focus {
        outline: 0
    }

    .modal-youtube__description-extra-content a:active, .modal-youtube__rating-btn-link:active {
        opacity: .5
    }

.modal-youtube__rating-btn-link--like {
    margin-right: 10px
}

.modal-youtube__rating-btn-link--dislike .modal-youtube__rating-btn-svg {
    -webkit-transform: scale(1,-1);
    transform: scale(1,-1)
}

.modal-youtube__rating-btn-svg {
    fill: #a0a0a0;
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 5px;
    vertical-align: middle
}

.modal-youtube__rating-btn-text {
    vertical-align: middle
}

.modal-youtube__description-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 15px;
    border-top: 1px solid #dfe0ee
}

.modal-youtube__description {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding-right: 30px
}

.modal-youtube__description-text {
    white-space: pre-wrap;
    overflow-wrap: break-word;
    word-break: break-word;
    word-wrap: break-word
}

.modal-youtube__description-extra-list {
    margin-top: 15px;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none
}

.modal-youtube__description-extra-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.modal-youtube__description-extra-title {
    width: 110px;
    margin-top: 0;
    margin-right: 15px;
    margin-bottom: 0;
    overflow: hidden;
    font-weight: 400;
    font-size: 14px;
    color: #808899;
    text-overflow: ellipsis
}

.modal-youtube__description-extra-content {
    font-weight: 500
}

    .modal-youtube__description-extra-content:not(:last-child) {
        margin-right: 15px
    }

    .modal-youtube__description-extra-content a {
        color: #333
    }

.modal-youtube__subscripe {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto
}

.modal-youtube__btn-subscripe {
    display: inline-block;
    padding: 7px 12px 8px;
    font-weight: 500;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    background-color: #ff141c;
    border: 0
}

    .modal-youtube__btn-subscripe:focus, .modal-youtube__btn-subscripe:hover {
        color: #fff;
        text-decoration: none
    }

    .modal-youtube__btn-subscripe:focus {
        outline: 0
    }

    .modal-youtube__btn-subscripe:active {
        padding-top: 8px;
        padding-bottom: 7px;
        background-color: #e00008
    }

.modal-youtube__subscripe-members {
    opacity: .9
}

.modal-youtube__comments {
    border-top: 1px solid #dfe0ee
}

.modal-youtube__comments-number-wrapper {
    padding: 15px 15px 0
}

.modal-youtube__comments-number {
    margin-bottom: 0;
    font-size: 16px
}

.modal-youtube__comments-add {
    padding: 15px
}

.modal-youtube__comments-list {
    padding: 0 15px 15px
}

.modal-user-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none
}

.modal-user-menu__link {
    display: block;
    padding: 10px
}

    .modal-user-menu__link:focus .modal-user-menu__link-svg, .modal-user-menu__link:hover .modal-user-menu__link-svg {
        fill: #61acee
    }

    .modal-user-menu__link:focus {
        outline: 0
    }

    .modal-user-menu__link:active {
        opacity: .5
    }

.modal-user-menu__link-svg {
    fill: #4b62a2;
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle
}

.page {
    padding-top: 20px;
    padding-bottom: 20px
}

.page__title, .page__title-wrapper {
    margin-bottom: 20px
}

.page__title {
    margin-top: 0
}

.page__post-filter {
    display: block;
    margin-bottom: 15px
}

    .page__post-filter .dropdown-toggle {
        background-color: transparent;
        border: 0;
        border-bottom: 2px solid #61acee
    }

    .page__post-filter.open .dropdown-toggle {
        border-bottom-color: #4b62a2;
        -webkit-box-shadow: none;
        box-shadow: none
    }

@media (min-width:768px) {
    .page__title-wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
        margin-bottom: 20px
    }

    .page__post-filter, .page__title {
        margin-bottom: 0;
        margin-right: 20px
    }
}

@media (min-width:992px) {
    .page {
        padding-top: 30px;
        padding-bottom: 30px
    }

    .page__title {
        margin-right: 30px
    }

    .page__post-filter {
        margin-right: 15px
    }
}

.page-footer {
    padding: 30px 0;
    background-color: #eceef3
}

.page-footer__menu-list > .col-xs-6:nth-child(odd) {
    clear: both
}

.page-footer__list-title {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 16px;
    color: #555
}

.page-footer__list {
    list-style: none;
    margin-bottom: 20px;
    padding-left: 0
}

.page-footer__item a {
    color: #6b7c93
}

.page-footer__copyright {
    margin-bottom: 0
}

.page-footer__logo-link {
    margin-bottom: 0;
    color: #333
}

    .page-footer__logo-link:focus, .page-footer__logo-link:hover {
        color: #000;
        text-decoration: none
    }

        .page-footer__logo-link:focus .page-footer__logo-svg, .page-footer__logo-link:hover .page-footer__logo-svg {
            fill: #000
        }

    .page-footer__logo-link:focus {
        outline: 0
    }

    .page-footer__logo-link:active {
        opacity: .5
    }

.page-footer__logo-svg {
    fill: #333;
    width: 126px;
    height: 14px
}

@media (min-width:768px) {
    .page-footer__logo {
        margin-top: 15px
    }
}

@media (min-width:992px) {
    .page-footer {
        padding: 30px 0
    }

    .page-footer__menu-list > .col-xs-6:nth-child(odd) {
        clear: none
    }

    .page-footer__list-title {
        margin-bottom: 15px
    }

    .page-footer__logo {
        margin-top: 0;
        text-align: right
    }
}

.page-header {
    margin-top: 0;
    margin-bottom: 0;
    padding: 15px 0;
    background-color: #fff;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,.1);
    box-shadow: 0 0 5px rgba(0,0,0,.1)
}

.page-header__logo {
    display: block;
    margin-bottom: 15px
}

.page-header__logo-svg {
    display: block;
    width: 260px;
    height: 29px
}

.page-header__search {
    margin: 0
}

    .page-header__search input {
        display: block;
        width: 100%;
        padding: 7px 15px 7px 40px;
        font: inherit;
        background: url(./images/icon-search.svg) center left 5px no-repeat;
        background-size: 20px;
        border: 0;
        border-bottom: 2px solid #d1d6dd
    }

        .page-header__search input:focus {
            outline: 0;
            border-bottom-color: #6281a7
        }

@media (min-width:768px) {
    .page-header__wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }

    .page-header__logo {
        margin-bottom: 0;
        margin-right: 30px
    }

    .page-header__search {
        width: 250px
    }
}

.post {
    position: relative;
    padding: 0;
    background-color: #fff;
    border: 1px solid #d1d6dd;
    border-radius: 3px;
    -webkit-transition: -webkit-box-shadow .2s ease-in-out;
    transition: box-shadow .2s ease-in-out;
    transition: box-shadow .2s ease-in-out,-webkit-box-shadow .2s ease-in-out;
    cursor: pointer
}

    .post:focus, .post:hover {
        -webkit-box-shadow: 0 1px 6px 1px rgba(0,0,0,.15);
        box-shadow: 0 1px 6px 1px rgba(0,0,0,.15)
    }

    .post:focus {
        outline: 0
    }

.post--vk .post__flag-svg {
    fill: #6281a7
}

.post--fb .post__flag-svg {
    fill: #4b62a2
}

.post--tw .post__flag-svg {
    fill: #61acee
}

.post--yt .post__flag-svg {
    fill: #ff141c
}

.post--ig .post__flag-svg {
    fill: #000
}

.post--gp .post__flag-svg {
    fill: #dc4e42
}

.post__header {
    position: relative;
    padding: 10px 66px 10px 65px;
    border-bottom: 1px solid #dfe0ee
}

.post__title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.post__sub-title {
    font-size: 13px;
    line-height: 1;
    color: #afb4bb
}

.post__title-logo {
    position: absolute;
    top: 8px;
    left: 15px;
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%
}

    .post__media img, .post__title-logo img {
        width: 100%;
        height: 100%;
        -o-object-fit: contain;
        object-fit: contain;
        -o-object-position: center;
        object-position: center
    }

.post__media {
    margin-bottom: 0;
    border-top: 1px solid #dfe0ee;
    border-bottom: 1px solid #dfe0ee
}

    .post__media img {
        max-height: 350px;
        height: auto;
        -o-object-fit: cover;
        object-fit: cover
    }

    .post__media iframe, .post__media video {
        display: block;
        max-height: 350px;
        width: 100%;
        height: auto;
        border: 0
    }

.post__text {
    margin-bottom: 0;
    padding: 15px;
    overflow-wrap: break-word;
    word-break: break-word;
    word-wrap: break-word
}

.post__more-link {
    display: block;
    width: 100%;
    margin-top: 5px;
    padding: 0;
    font-weight: 500;
    text-align: left;
    color: #808899;
    background-color: transparent;
    border: 0
}

    .post__more-link:focus, .post__more-link:hover {
        color: #61acee
    }

    .post__more-link:focus {
        outline: 0
    }

    .post__more-link:active {
        opacity: .5
    }

.post__flag {
    position: absolute;
    top: 10px;
    right: 15px;
    width: 36px;
    height: 36px;
    padding: 3px
}

    .post__flag:focus, .post__flag:hover {
        opacity: .7
    }

    .post__flag:focus {
        outline: 0
    }

    .post__flag:active {
        opacity: .5
    }

.post__flag-svg {
    width: 100%;
    height: 100%
}

.post__actions, .post__social-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.post__actions {
    padding: 10px 15px;
    border-top: 1px solid #dfe0ee
}

.post__social-list {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 0;
    margin-right: 20px;
    padding-left: 0;
    list-style: none
}

.post__social-item:not(:last-child) {
    margin-right: 15px
}

.post__social-item[class*=drop] .dropdown-toggle {
    cursor: pointer
}

    .post__social-item[class*=drop] .dropdown-menu:focus, .post__social-item[class*=drop] .dropdown-menu:hover, .post__social-item[class*=drop] .dropdown-toggle:focus + .dropdown-menu, .post__social-item[class*=drop] .dropdown-toggle:hover + .dropdown-menu {
        display: block
    }

.post__social-item[class*=drop] .dropdown-menu {
    margin-bottom: 0
}

.post__actions-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 0;
    margin-left: auto;
    padding-left: 0;
    list-style: none
}

.post__actions-item:not(:last-child) {
    margin-right: 7.5px
}

.post__link {
    font-weight: 500;
    color: #6281a7
}

    .post__link:focus, .post__link:hover {
        text-decoration: none
    }

        .post__link:focus::before, .post__link:hover[href]::before {
            opacity: 1
        }

    .post__link-share:focus, .post__link:focus {
        outline: 0
    }

    .post__link.dropdown-toggle:active, .post__link:active[href] {
        opacity: .4
    }

    .post__link::before {
        display: inline-block;
        vertical-align: text-bottom;
        height: 19px;
        margin-right: 8px;
        background-repeat: no-repeat;
        background-position: left center;
        opacity: .6
    }

.post__link--like-vk::before {
    content: "";
    width: 15px;
    background-image: url(./images/icon-heart.svg);
    background-size: 15px
}

.post__link--repost-vk::before {
    content: "";
    width: 14px;
    background-image: url(./images/icon-horn.svg);
    background-size: 14px
}

.post__link--more-vk {
    display: block;
    padding-right: 15px
}

.post__link-save, .post__link-share {
    display: block;
    width: 20px;
    height: 20px;
    padding: 2px;
    background: center no-repeat;
    background-size: 16px
}

    .post__link-save:focus .post__link-save-svg, .post__link-save:hover .post__link-save-svg, .post__link-share:focus .post__link-share-svg, .post__link-share:hover .post__link-share-svg {
        fill: #61acee
    }

    .post__link-share:active {
        opacity: .5
    }

    .post__link-save:focus {
        outline: 0
    }

    .post__link-save:active {
        opacity: .5
    }

.post__link-save-svg, .post__link-share-svg {
    fill: #4b62a2;
    width: 100%;
    height: 100%
}

.post__link-like {
    padding: 0 0 0 24px;
    font-weight: 500;
    color: #6281a7;
    background: left center no-repeat
}

.post__link-like--tw {
    background-image: url(./images/icon-heart.svg);
    background-size: 15px
}

.post__link-like--yt {
    background-image: url(./images/icon-thumb-up-color.svg);
    background-size: 14px
}

.post__link-like--ig {
    background-image: url(./images/icon-heart.svg);
    background-size: 15px
}

.post__link-dislike {
    padding: 0 0 0 24px;
    font-weight: 500;
    color: #6281a7;
    background: left center no-repeat
}

.post__link-dislike--yt {
    background-image: url(./images/icon-thumb-down-color.svg);
    background-size: 14px
}

.post__link-repost {
    padding: 0 0 0 24px;
    font-weight: 500;
    color: #6281a7;
    background: left center no-repeat
}

.post__link-repost--tw {
    background-image: url(./images/icon-retweet.svg);
    background-size: 18px
}

.post__link-comment {
    padding: 0 0 0 24px;
    font-weight: 500;
    color: #6281a7;
    background: left center no-repeat
}

.post__link-comment--ig, .post__link-comment--tw {
    background-image: url(./images/icon-comment.svg);
    background-size: 14px
}

.post__link-views {
    font-weight: 500;
    color: #6281a7
}

.post__link-view-social {
    padding-left: 24px;
    color: #909393;
    background: url(./images/icon-view.svg) center left no-repeat;
    background-size: 14px 10px
}

.post__link-text {
    display: none
}

@media (min-width:768px) {
    .post__social-item[class*=drop] {
        margin-right: 0
    }
}

@media (min-width:992px) {
    .post__social-item:not(:last-child) {
        margin-right: 15px
    }

    .post__social-item[class*=drop] {
        margin-right: 0
    }

    .post__social-item--modal {
        margin-right: 30px
    }

    .post__link-text {
        display: inline-block;
        margin-right: 10px
    }
}

.posts {
    margin: 0 auto
}

.posts__item {
    margin-bottom: 20px
}

@media (min-width:768px) {
    .posts {
        width: 720px
    }

    .posts__item {
        width: 345px
    }
}

@media (min-width:992px) {
    .posts {
        width: 940px
    }

    .posts__item {
        width: 293.33333333px;
        margin-bottom: 30px
    }
}

@media (min-width:1200px) {
    .posts {
        width: 1000px
    }

    .posts__item {
        width: 313.33333333px;
        margin-bottom: 30px
    }
}

@media (min-width:1400px) {
    .posts {
        width: 1140px
    }

    .posts__item {
        width: 360px;
        margin-bottom: 30px
    }
}

.post-reply {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding-right: 15px;
    padding-left: 15px
}

.post-reply__author-photo {
    margin-top: 12px
}

    .post-reply__author-photo img {
        width: 28px;
        height: 28px;
        border-radius: 50%;
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: center;
        object-position: center
    }

    .post-reply__author-photo:focus {
        outline: 0;
        opacity: .7
    }

    .post-reply__author-photo:active {
        opacity: .4
    }

.post-reply__input {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding: 15px;
    border: 0;
    resize: none
}

    .post-reply__input:focus {
        outline: 0
    }

.profile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
    min-height: 130px;
    width: 650px;
    margin: 30px auto 60px;
    padding-left: 160px
}

.profile__photo {
    position: absolute;
    top: 0;
    left: 0;
    width: 130px;
    height: 130px;
    margin-bottom: 0;
    overflow: hidden;
    border-radius: 50%
}

    .profile__photo img {
        display: block;
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: center;
        object-position: center
    }

.profile__name {
    margin: 0 30px 15px 0;
    font-weight: 400;
    font-size: 30px;
    line-height: 1
}

.profile__subscripe {
    margin-bottom: 15px
}

.profile__description {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    margin-top: 15px;
    margin-bottom: 0
}

.profile__subscripe-link {
    padding: 5px 20px;
    color: #fff;
    background-color: #3797f2;
    border-radius: 3px
}

    .profile__subscripe-link:focus, .profile__subscripe-link:hover {
        color: #fff;
        text-decoration: none;
        background-color: #0f7ee7
    }

    .profile__subscripe-link:focus {
        outline: 0
    }

    .profile__subscripe-link:active {
        background-color: #6281a7
    }

.profile__info-wrapper {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.profile__followers, .profile__published {
    margin-right: 30px;
    margin-bottom: 0
}

.profile__subscriptions {
    margin-bottom: 0
}

.profile__followers-amount, .profile__published-amount {
    font-weight: 500
}

.reply-control {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.reply-control__list {
    list-style: none;
    margin-bottom: 0;
    padding-left: 0
}

.reply-control__item {
    display: inline-block;
    margin-right: 15px;
    vertical-align: middle
}

.reply-control__link {
    display: block;
    background: center no-repeat;
    width: 22px;
    height: 22px;
    background-image: url(./images/post_icon.png);
    opacity: .6
}

    .reply-control__link:focus, .reply-control__link:hover {
        opacity: 1
    }

    .reply-control__link:focus {
        outline: 0
    }

    .reply-control__link:active {
        opacity: .4
    }

.reply-control__link--photo {
    background-position: left -65px
}

.reply-control__link--video {
    background-position: left -87px
}

.reply-control__link--audio {
    background-position: left -109px
}

.reply-control__link--doc {
    background-position: left -131px
}

.reply-control__actions {
    margin-left: auto
}

.reply-control__btn-cancel {
    margin-right: 15px;
    color: #55677d;
    background-color: #e5ebff
}

    .reply-control__btn-cancel:focus, .reply-control__btn-cancel:hover {
        color: #55677d;
        background-color: #dfe6ed
    }

        .reply-control__btn-cancel:focus, .reply-control__btn-cancel:focus:active {
            outline: 0
        }

    .reply-control__btn-cancel:active {
        color: #55677d;
        background-color: #dae2ea
    }

.reply-control__btn-send {
    color: #fff;
    background-color: #5e81a8
}

    .reply-control__btn-send:focus, .reply-control__btn-send:hover {
        color: #fff;
        background-color: #6888ad
    }

    .reply-control__btn-send:focus {
        outline: 0
    }

    .reply-control__btn-send:active {
        background-color: #5779a1
    }

.social-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none
}

.social-list__item {
    margin: 0 7.5px 7.5px
}

.social-list__link {
    display: block;
    width: 40px;
    height: 40px;
    padding: 4px;
    border: 3px solid;
    border-radius: 50%;
    cursor: pointer
}

    .social-list__link:focus, .social-list__link:hover {
        opacity: .7
    }

    .social-list__link:focus {
        outline: 0
    }

    .social-list__link:active {
        opacity: .4
    }

.social-list__input:active + .social-list__link.social-list__link--vk, .social-list__link--vk {
    border-color: #6281a7
}

    .social-list__input:active + .social-list__link.social-list__link--vk .social-list__svg, .social-list__link--vk .social-list__svg {
        fill: #6281a7
    }

.social-list__link--google {
    border-color: #dc4e42
}

    .social-list__link--google .social-list__svg {
        fill: #dc4e42
    }

.social-list__link--fb {
    border-color: #4b62a2
}

    .social-list__link--fb .social-list__svg {
        fill: #4b62a2
    }

.social-list__link--tw {
    border-color: #61acee
}

    .social-list__link--tw .social-list__svg {
        fill: #61acee
    }

.social-list__link--instagram {
    position: relative;
    padding: 7px;
    background-image: -webkit-radial-gradient(0 40px,#ffda75 18%,#ff3a49 43%,#ff3a49 50%,#e518a1 70%,#6634e1 100%);
    border: 0
}

    .social-list__link--instagram::before {
        content: "";
        position: absolute;
        top: 3px;
        bottom: 3px;
        right: 3px;
        left: 3px;
        background-color: #fff;
        border-radius: 50%
    }

    .social-list__link--instagram .social-list__svg {
        fill: url(#rg);
        position: relative
    }

.social-list__input:active + .social-list__link.social-list__link--youtube, .social-list__link--youtube {
    border-color: #ff141c
}

    .social-list__input:active + .social-list__link.social-list__link--youtube .social-list__svg, .social-list__link--youtube .social-list__svg {
        fill: #ff141c
    }

.social-list__input:active + .social-list__link--wiki, .social-list__link--wiki {
    padding: 6px 5px;
    border-color: #272727
}

    .social-list__link--wiki .social-list__svg {
        fill: #272727
    }

.social-list__input:active + .social-list__link--pinterest, .social-list__link--pinterest {
    border-color: #bd081c
}

    .social-list__link--pinterest .social-list__svg {
        fill: #bd081c
    }

.social-list__link--input {
    width: 46px;
    height: 46px;
    padding: 5px;
    border-color: #333;
    opacity: .5
}

    .social-list__link--input:hover {
        opacity: .8
    }

    .social-list__link--input.social-list__link--instagram {
        padding: 8px;
        background: #333
    }

    .social-list__link--input.social-list__link--wiki {
        padding: 6px 5px
    }

    .social-list__link--input .social-list__svg {
        fill: #333;
        width: 30px;
        height: 30px
    }

.social-list__svg {
    display: block;
    width: 26px;
    height: 26px
}

.social-list__input:active + .social-list__link.social-list__link--google {
    border-color: #dc4e42
}

    .social-list__input:active + .social-list__link.social-list__link--google .social-list__svg {
        fill: #dc4e42
    }

.social-list__input:active + .social-list__link.social-list__link--fb {
    border-color: #4b62a2
}

    .social-list__input:active + .social-list__link.social-list__link--fb .social-list__svg {
        fill: #4b62a2
    }

.social-list__input:active + .social-list__link.social-list__link--tw {
    border-color: #61acee
}

    .social-list__input:active + .social-list__link.social-list__link--tw .social-list__svg {
        fill: #61acee
    }

.social-list__input:active + .social-list__link.social-list__link--instagram {
    background-image: -webkit-radial-gradient(0 40px,#ffda75 18%,#ff3a49 43%,#ff3a49 50%,#e518a1 70%,#6634e1 100%)
}

    .social-list__input:active + .social-list__link.social-list__link--instagram .social-list__svg {
        fill: url(#rg)
    }

.social-list__input:active + .social-list__link--wiki .social-list__svg {
    fill: #272727
}

.social-list__input:active + .social-list__link--pinterest .social-list__svg {
    fill: #bd081c
}

.social-list__input:checked + .social-list__link {
    opacity: 1
}

    .social-list__input:checked + .social-list__link.social-list__link--vk {
        border-color: #6281a7
    }

        .social-list__input:checked + .social-list__link.social-list__link--vk .social-list__svg {
            fill: #6281a7
        }

    .social-list__input:checked + .social-list__link.social-list__link--youtube {
        border-color: #ff141c
    }

        .social-list__input:checked + .social-list__link.social-list__link--youtube .social-list__svg {
            fill: #ff141c
        }

    .social-list__input:checked + .social-list__link.social-list__link--google {
        border-color: #dc4e42
    }

        .social-list__input:checked + .social-list__link.social-list__link--google .social-list__svg {
            fill: #dc4e42
        }

    .social-list__input:checked + .social-list__link.social-list__link--fb {
        border-color: #4b62a2
    }

        .social-list__input:checked + .social-list__link.social-list__link--fb .social-list__svg {
            fill: #4b62a2
        }

    .social-list__input:checked + .social-list__link.social-list__link--tw {
        border-color: #61acee
    }

        .social-list__input:checked + .social-list__link.social-list__link--tw .social-list__svg {
            fill: #61acee
        }

    .social-list__input:checked + .social-list__link.social-list__link--instagram {
        background-image: -webkit-radial-gradient(0 40px,#ffda75 18%,#ff3a49 43%,#ff3a49 50%,#e518a1 70%,#6634e1 100%)
    }

        .social-list__input:checked + .social-list__link.social-list__link--instagram .social-list__svg {
            fill: url(#rg)
        }

.social-list__input:checked + .social-list__link--wiki {
    border-color: #272727
}

    .social-list__input:checked + .social-list__link--wiki .social-list__svg {
        fill: #272727
    }

.social-list__input:checked + .social-list__link--pinterest {
    border-color: #bd081c
}

    .social-list__input:checked + .social-list__link--pinterest .social-list__svg {
        fill: #bd081c
    }

.social-list__input:checked + .social-list__link:hover, .type-list__filter:checked + .type-list__filter-label {
    opacity: 1
}

.social-list__input:checked + .social-list__link:active, .social-list__input:checked:active + .social-list__link {
    border-color: #333;
    opacity: .6
}

    .social-list__input:checked + .social-list__link:active.social-list__link--instagram, .social-list__input:checked:active + .social-list__link.social-list__link--instagram {
        background: #333
    }

    .social-list__input:checked + .social-list__link:active .social-list__svg, .social-list__input:checked:active + .social-list__link .social-list__svg {
        fill: #333
    }

.type-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none
}

.type-list__item {
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 15px
}

.type-list__filter-label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-bottom: 0;
    background: center no-repeat;
    opacity: .7;
    cursor: pointer
}

.type-list__filter-label--text .type-list__filter-label-svg {
    width: 29px;
    height: 30px
}

.type-list__filter-label--image .type-list__filter-label-svg {
    width: 27px;
    height: 27px
}

.type-list__filter-label--video .type-list__filter-label-svg {
    width: 30px;
    height: 30px
}

.type-list__filter-label--profile .type-list__filter-label-svg {
    width: 22px;
    height: 25px
}

.type-list__filter-label--attached .type-list__filter-label-svg {
    width: 20px;
    height: 31px
}

.type-list__filter-label:hover {
    opacity: 1
}

.type-list__filter-label:active {
    opacity: .5
}

.type-list__filter-label-svg {
    fill: #333;
    display: block
}

.type-list__filter:checked + .type-list__filter-label .type-list__filter-label-svg {
    fill: #3797f2
}

.loader,
.loader:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
}
.loader {
    margin: 60px auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(58,9,119, 0.2);
    border-right: 1.1em solid rgba(58,9,119, 0.2);
    border-bottom: 1.1em solid rgba(58,9,119, 0.2);
    border-left: 1.1em solid #3a0977;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
